.page__body {
    margin: 0;
}

.body {
    display: grid;
    grid-template-columns: 20% 80%;
}


/*.main-nav {
/*    background-color: aquamarine;*/
/*}
/*
    main nav
*/

/**/



/*
    data table
*/

.data-table {
    border-collapse: collapse;
}
.data-table th,
.data-table td {
    border: 1px solid black;
}