:root {
    --disabled-text-color: #EDEDED;
    --disabled-bg-color: #D0D0D0;

    --menu-bg-color: #152238;
    --menu-text-color: #FAFBFC;
    --menu-separator-color: #FFFFFF;

    --table-border-color: #C0CAD6;
    --table-title-border-color: #1C2E4A;
    --table-row-hover-color: #D5E1F0;
    --table-title-color: #203354;
    --table-text-color: #152238;

    --input-border-color: #203354;
    --focus-color: #041bb5;

    --button-green-bg-color: #265828;
    --button-green-text-color: #FFFFFF;
    --button-green-hover-color: #1f4720;
    --button-green-active-color: #173518;

    --button-blue-bg-color: #1167B1;
    --button-blue-text-color: #FFFFFF;
    --button-blue-hover-color: #043063;
    --button-blue-active-color: #03254C;

    --button-red-bg-color: #8A0303;
    --button-red-hover-color: #7d0101;
    --button-red-active-color: #6C0000;
    --button-red-text-color: #FFFFFF;

    --footer-bg-color: #23395D;
    --footer-text-color: #FFFFFF;
}

@font-face {
    font-family: "Nunito Sans";
    font-weight: 400;
    font-style: normal;
    font-display: swap;
    src: url("../fonts/nunito-sans-400.woff2") format("woff2");
}

@font-face {
    font-family: "Nunito Sans";
    font-weight: 600;
    font-style: normal;
    font-display: swap;
    src: url("../fonts/nunito-sans-600.woff2") format("woff2");
}

@font-face {
    font-family: "Nunito Sans";
    font-weight: 700;
    font-style: normal;
    font-display: swap;
    src: url("../fonts/nunito-sans-700.woff2") format("woff2");
}

.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    padding: 0;
    overflow: hidden;
    white-space: nowrap;
    border: 0;
    clip: rect(0 0 0 0);
    clip-path: inset(100%);
}

.page {
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    font-family: "Nunito Sans", "Arial", sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    text-rendering: optimizeLegibility;
}

.page__body {
    margin: 0;
}

.body {
    display: grid;
    height: 100vh;

    overflow-y: hidden;
    overflow-x: hidden;
}

/*
    nav
*/

.main-nav {
    background-color: var(--menu-bg-color);
    color: var(--menu-text-color);
}

.main-nav--close {
    display: none;
}

.main-nav .main-nav__title {
    margin: 0;
    padding: 20px;
    border-bottom: 2px solid var(--menu-separator-color);
}

.main-nav .main-nav__list {
    list-style: none;
    padding-left: 10px;
}

.main-nav .main-nav__link {
    color: var(--menu-text-color);
    text-decoration: none;
    display: inline-block;
    padding: 10px;
}

.main-nav .main-nav__link:hover {
    font-weight: 600;
}

.main-nav .main-nav__link:focus {
    outline-width: 2px;
    outline-color: white;
    font-weight: 600;
}

/*
    content without menu
*/

.content-wrapper {
    display: grid;
    grid-template-rows: auto 1fr auto;
    height: 100%;
}


/*
    header
*/

.body__header {
    margin-left: 50px;
    margin-right: 50px;
}

.header {
    display: grid;
    grid-template-columns: 50% 50%;
    justify-content: space-between;
    padding: 20px 0;
}

.body--nav-open .menu-button .menu-button__menu-icon {
    display: none;
}

.body:not(.body--nav-open) .menu-button .menu-button__menu-icon {
    display: inline-block;
    stroke: black;
}

.body:not(.body--nav-open) .menu-button:hover .menu-button__menu-icon {
    stroke: var(--focus-color);
}

.body:not(.body--nav-open) .menu-button .menu-button__menu-icon--close {
    display: none;
}

.header .menu-button {
    max-width: 100px;
    padding: 10px;
    background-color: transparent;
    border: none;
    cursor: pointer;

    display: flex;
    align-items: center;
    justify-content: space-between;
}

.header .menu-button .menu-button__menu-icon--close {
    stroke: black;
}

.menu-button:hover {
    color: var(--focus-color);
}

.menu-button:hover .menu-button__menu-icon--close {
    stroke: var(--focus-color);
}

.menu-button:focus {
    outline-color: var(--focus-color);
}

/*search*/

.header .search-wrapper {
    position: relative;
    justify-self: end;
    width: 100%;
    max-width: 800px;
}

.header .header__search {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: white;
    border: 2px solid var(--input-border-color);
    min-height: 40px;
    border-radius: 10px;
    box-sizing: border-box;
}

.header .header__search:focus-within {
    border-color: var(--focus-color);
}

.header .header__search:focus-within .header__search-icon {
    fill: var(--focus-color);
}

.header .header__search-icon {
    width: 20px;
    height: 22px;
    margin: 0 10px;
}

.header .header__search-input {
    border: none;
    width: 100%;
    padding: 0 40px 0 0;
    outline: none;
    font-family: inherit;
}

.header .header__search-button {
    background: transparent;
    border: none;
    cursor: pointer;
    width: 40px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    top: 0;
    right: 0;
    border-radius: 10px;
    padding: 0;
    box-sizing: border-box;
}

.header .header__search-button:focus {
    outline: none;
    border: 2px solid var(--focus-color);
}

.header .header__search-button:hover svg {
    width: 12px;
    height: 12px;
    stroke: blue;
}

/*
    main
*/

.body__main {
    margin-left: 50px;
    margin-right: 50px;
}

/*
    data table
*/


.data-table {
    width: 100%;
    table-layout: fixed;
    border-collapse: collapse;
}

.data-table tbody {
    display: block;
    width: 100%;
    max-height: calc(100vh - 84px - 24px - 58px - 53px - 10px); /*поправить*/
    overflow: auto;
}

.data-table .data-table__header-row th {
    text-align: left;
    padding: 15px 10px;
    line-height: 20px;
    text-transform: uppercase;
    color: var(--table-title-color);
}

.data-table .data-table__body-row td {
    padding: 25px 15px;
    line-height: 20px;
    color: var(--table-text-color);
}

.data-table .data-table__body-row td:first-child {
    font-weight: 600;
}

.data-table .data-table__body-row td:last-child {
    text-align: end;
}

.data-table .data-table__body-row:hover {
    background-color: var(--table-row-hover-color);
}

.data-table .data-table__header-row {
    display: flex;
    justify-content: space-between;
    border-bottom: 3px solid var(--table-title-border-color);
}

.data-table .data-table__body-row {
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid var(--table-border-color);
}

.description {
    margin: 0;
}

.description__long--close .description__long {
    display: none;
}

.description .description__short:after {
    content: '\200B';
}

.description__long--close .description__short:after {
    content: "...";
}

.description:not(.description__long--close) .description__toggle-button {
    transform: rotate(180deg);
}

.description__toggle-button {
    background-color: white;
    border-radius: 5px;
    border: none;
    vertical-align: middle;
    cursor: pointer;
}

.description__toggle-icon {
    display: block;
    padding: 5px 0;
}

.remove-data-button {
    background-color: var(--button-red-bg-color);
    color: var(--button-red-text-color);
    border-radius: 2px;
    padding: 5px 5px;
    border: none;
    cursor: pointer;
}

.remove-data-button:focus {
    outline: 2px solid var(--focus-color);
}

.remove-data-button:hover {
    background-color: var(--button-red-hover-color);
}

.remove-data-button__icon {
    display: block;
    stroke: white;
}

/*
   action buttons
*/

.main_content__action-buttons {
    margin-top: 20px;
    display: flex;
    justify-content: space-between;
}

.action-button {
    font-family: inherit;
    font-weight: 700;
    padding: 10px 20px;
    border: none;
    border-radius: 10px;
    cursor: pointer;
}

.action-button--add {
    background-color: var(--button-green-bg-color);
    color: var(--button-green-text-color);
}

.action-button--add:focus-visible {
    background-color: var(--button-green-active-color);
    outline: 2px solid var(--focus-color);
}

.action-button--add:hover {
    background-color: var(--button-green-hover-color);
}

.action-button--add:active {
    background-color: var(--button-green-active-color);
}

.action-button--post {
    background-color: var(--button-blue-bg-color);
    color: var(--button-blue-text-color);
}

.action-button--post:focus-visible {
    background-color: var(--button-blue-active-color);
    outline: 2px solid var(--focus-color);
}

.action-button--post:hover {
    background-color: var(--button-blue-hover-color);
}

.action-button--post:active {
    background-color: var(--button-blue-active-color);
}

.action-button--post:disabled {
    background-color: var(--disabled-bg-color);
    color: var(--disabled-text-color);
    cursor: default;
}

.action-button--cancel {
    background-color: var(--button-red-bg-color);
    color: var(--button-red-text-color);
}

.action-button--cancel:focus-visible {
    outline: 2px solid var(--focus-color);
}

.action-button--cancel:hover {
    background-color: var(--button-red-hover-color);
}

.action-button--cancel:active {
    background-color: var(--button-red-active-color);
}

.action-button--cancel {
    display: none;
}

.body__footer {
    padding-left: 50px;
    padding-right: 50px;
}

.footer {
    background-color: var(--footer-bg-color);
    color: var(--footer-text-color);
}


/*
    template row
*/


.data-table .data-table__body-row--new {
    background-color: white;
}

.data-table .data-table__body-row--new:hover {
    background-color: white;
}

.data-table .data-table__body-row--new td {
    padding: 20px 0;
}

.data-table__input {
    font-family: inherit;
    font-size: 16px;
    padding: 10px;
    border-radius: 10px;
    border: 2px solid var(--table-title-border-color);
    width: 90%;
    box-sizing: border-box;
}

.data-table__input::placeholder {
    font-size: 14px;
}

.data-table__input:focus {
    outline: none;
    border-color: var(--focus-color);
}

.data-table__input--small {
    padding: 10px 5px;
    width: 55px;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

input[type=number] {
    -moz-appearance: textfield;
}


.data-table__select {
    width: 90%;
    font-family: inherit;
    font-size: 14px;
    padding: 10px;
    border-radius: 10px;
    box-sizing: border-box;
    border: 2px solid black;
}

.data-table__select:focus {
    outline: none;
    border-color: var(--focus-color);
}

.data-table__option {
    position: absolute;
    top: 100%;
    left: 0;
    right: 0;
    z-index: 1;
}

.data-table__textarea {
    resize: none;
    font-family: inherit;
    font-size: 16px;
    padding: 10px;
    margin-left: 15px;
    border-radius: 10px;
    border: 2px solid var(--table-title-border-color);
    width: 90%;
    box-sizing: border-box;
}

.data-table__textarea:focus {
    border-color: var(--focus-color);
    outline: none;
}

.save-data-button {
    font-family: inherit;
    border: none;
    background-color: var(--button-green-bg-color);
    color: var(--button-green-text-color);
    border-radius: 10px;
    font-weight: 700;
    padding: 10px 20px;
    cursor: pointer;
}

.save-data-button:disabled {
    background-color: var(--disabled-bg-color);
    color: var(--disabled-text-color);
    cursor: default;
}


/*
    search template
*/

.header__search-list {
    margin: 0;
    width: 100%;
    max-width: 800px;
    list-style: none;
    top: 45px;
    position: absolute;
    background-color: var(--menu-bg-color);
    border-radius: 10px;
    padding: 0;
}


.header__search-item {
    border-bottom: 1px solid white;
}

.header__search-item:last-child {
    border-bottom: none;
}

.header__search-link {
    display: block;
    color: white;
    text-decoration: none;
    padding: 15px;
}

.header__search-link:hover {
    font-weight: 600;
}



@media screen and (min-width: 0) {
    .page {
        font-size: 14px;
    }

    .body__header {
        margin-left: 5px;
        margin-right: 5px;
    }

    .body--nav-open {
        grid-template-columns: none;
    }

    .main-nav {
        position: absolute;
        top: 84px;
        width: 100%;
    }

    .body__main {
        margin-left: 5px;
        margin-right: 5px;
    }

    .data-table tbody {
        display: block;
        overflow-x: scroll;
    }

    .data-table .data-table__header-row .name-cell,
    .data-table .data-table__header-row .age-cell,
    .data-table .data-table__header-row .job-title-cell,
    .data-table .data-table__header-row .skills-cell {
        min-width: min-content;
        font-size: 12px;
    }

    .data-table__body-row {
        width: 900px;
        display: block;
    }

    .data-table__input {
        font-size: 14px;
        padding: 5px;
    }

    .data-table__input::placeholder {
        font-size: 14px;
    }

    .data-table__select {
        font-size: 14px;
        padding: 5px;
    }

    .data-table__textarea {
        font-size: 14px;
    }

    .data-table .data-table__header-row th {
        padding: 15px 5px;
    }

    .data-table .data-table__header-row .age-cell{
        width: 100px;
    }

    .data-table .data-table__body-row td {
        padding: 15px 5px;
    }

    .data-table .name-cell {
        min-width: 200px;
        box-sizing: border-box;
    }

    .data-table .job-title-cell {
        min-width: 150px;
        box-sizing: border-box;
    }

    .data-table .age-cell {
        min-width: 80px;
        box-sizing: border-box;
    }

    .data-table .skills-cell {
        min-width: 400px;
        box-sizing: border-box;
    }

    .data-table .button-cell {
        min-width: 50px;
        box-sizing: border-box;
    }

    .data-table .data-table__body-row--new .button-cell {
        width: 50px;
    }

    .save-data-button span {
        display: none;
    }

    .save-data-button {
        padding: 5px 10px;
    }
}




@media screen and (min-width: 600px) {
    .page {
        font-size: 13px;
    }

    .body__header {
        margin-left: 10px;
        margin-right: 10px;
    }

    .body__main {
        margin-left: 10px;
        margin-right: 10px;
    }

    .data-table tbody {
        width: 100%;
        overflow-x: hidden;
    }

    .data-table__body-row {
        width: 100%;
        display: flex;
    }

    .data-table__input {
        font-size: 12px;
    }

    .data-table__input::placeholder {
        font-size: 9px;
    }

    .data-table__select {
        font-size: 9px;
    }

    .data-table__input--small {
        width: 40px;
    }

    .data-table__textarea {
        font-size: 12px;
    }

    .data-table .name-cell {
        min-width: auto;
        width: 150px;
    }

    .data-table .job-title-cell {
        min-width: auto;
        width: 120px;
    }

    .data-table .age-cell {
        min-width: auto;
        width: 50px;
    }

    .data-table .skills-cell {
        min-width: auto;
        width: calc(100% - 150px - 120px - 50px - 50px - 20px);
    }

    .data-table .button-cell {
        min-width: auto;
        width: 50px;
    }
}


@media screen and (min-width: 1000px) {
    .page {
        font-size: 16px;
    }

    .body__header {
        margin-left: 50px;
        margin-right: 50px;
    }

    .body--nav-open {
        grid-template-columns: 1fr 3.5fr;
    }

    .main-nav {
        position: static;
    }

    .body__main {
        margin-left: 50px;
        margin-right: 50px;
    }

    .data-table .data-table__header-row th {
        padding: 15px 10px;
    }

    .data-table .data-table__header-row .name-cell,
    .data-table .data-table__header-row .age-cell,
    .data-table .data-table__header-row .job-title-cell,
    .data-table .data-table__header-row .skills-cell {
        font-size: 16px;
    }

    .data-table__input::placeholder {
        font-size: 13px;
    }
    .data-table__input,
    .data-table__select,
    .data-table__textarea {
        font-size: 16px;
    }

    .data-table .data-table__body-row td {
        padding: 25px 15px;
    }

    .data-table .name-cell {
        width: 200px;
    }

    .data-table .age-cell {
        width: 80px;
    }

    .data-table__input--small {
        width: 60px;
    }

    .data-table .skills-cell {
        width: calc(100% - 200px - 120px - 80px - 50px - 20px);
    }

    .data-table .data-table__body-row--new .button-cell {
        width: 70px;
    }
}


@media screen and (min-width: 1200px) {
    .data-table .name-cell {
        width: 350px;
    }

    .data-table .job-title-cell {
        width: 160px;
    }

    .data-table .age-cell {
        width: 100px;
    }

    .data-table__input--small {
        width: 70px;
    }

    .data-table .skills-cell {
        width: calc(100% - 700px);
    }

    .data-table .data-table__body-row--new .button-cell {
        width: 130px;
    }

    .save-data-button {
        padding: 10px 20px;
    }

    .save-data-button--icon {
        display: none;
    }

    .save-data-button span {
        display: inline;
    }
}
